/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  /* background-image: url('https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
}

#header, #footer{
  position:fixed;
  min-height: 50px;
  display:block;
  width: 100%;
  /* background: transparent; */
  z-index:98;
  /* color: #f2f2f2; */
  /* padding: 0px 0 0 0; */
  /* overflow: hidden; */
}

#header{
  top:0;
  background-color: transparent;
  padding: 10px;
}
#footer{
  bottom:0;
}

/*menu icon*/
.menu.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 1px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 7px;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 7px;
  width: 15px;
  height: 1px;
  background-color: currentColor;
} 

/*Social media*/

.fa {
  padding: 2px;
  font-size: 15px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: black;
  height: 18px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  border-radius: 15%;
  position: absolute;
  right:110px;
}
.fa-linkedin {
  border-radius: 15%;
  position: absolute;
  right:80px;
}
.fa-pinterest {
  border-radius: 50%;
  position: absolute;
  right:50px;
}
.fa-instagram {
  border-radius: 50%;
  position: absolute;
  right:20px;
}

/* Popup Menu */
.popup {
  color: white;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.6);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: black;
  border: 1px solid white;
  height: 300px;
  min-height: 150px;
}

.popup_section_button{
  width:100%;
  text-align:center;
  padding: 5%;
}
.popup_section_button:hover{
  width:100%;
  text-align:center;
  font-weight: 800;
  font-size: 16px;
}

/* Page Content */
.line{
  width: 15%;
  border-top: 1px solid white;
  position: absolute;
  left: 10;
  top:25%;
}

.heading{
  margin-left: 18%;
  position: absolute;
  color: white;
  width:60%;
  font-size: calc(20px + 2vmin);
  font-weight: 800;
  top:18%;
}

.para{
  margin-left: 18%;
  position: relative;
  color: white;
  width:50%;
  top:30%;
}

.page{
  min-height:100vh;
  background-color:transparent;
  display:block;
}

.page-content-box{
  position:absolute;
  margin-top:calc(35px + 20vmin);
  width:90%;
  padding:5px;
}

.big-line{
  border-top: 1px solid white;
  width:15%;
  display: inline-block;
  height:15px;
}
.small-line{
  border-top: 1px solid white;
  width:5%;
  display: inline-block;
  height:15px;
  margin-left: 10%;
}
.title{
  display: inline-block;
  font-size: calc(20px + 2vmin);
  font-weight: 600;
  color:white;
  margin-left:30px;
}
.data{
  color:white;
  width:60%;
  margin-left:calc(15% + 30px);
  margin-top:0px;
  font-size:calc(8px + 1vmin);
  display: inline-block;
}
.contact-map{
  position: absolute;
  margin-left: calc(55% + 30px);
  top:0;
  margin-top: 15px;
}
.place-card, .place-card-large{
  display: none;
}
.services-data{
  color:white;
  width:80%;
  margin-left:calc(15% + 10px);
  margin-top:10px;
  font-size:calc(8px + 1vmin);
  /* display: inline-block; */
  /* background-color: red; */
  padding: 10px;
}
.services-data-box{
  margin-left: 20px;
}
.services-data-title{
  text-transform: capitalize
}

p{
  color: #8f8f8f;
}